@import "../../global.scss";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .link {
    background-color: $black;
    color: $blue;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
  }
}
