@import url("https://fonts.cdnfonts.com/css/neutra-text-alt");

// Background Color Variables
$main-bg: #ffffff;
$soft-bg: #eef0f2;
$dark-bg: #dadee1;

// Text Color Variables
$dark-color: #1b1f24;
$main-color: #414141;
$soft-color: #b1b1b1;

// Other Colors
$black: #322625;
$grey: #ebebeb;
$blue: #c0e3e5;
$theme-color: #fdc936;

@mixin regular-text {
  font-weight: 400;
  font-size: 1rem;
}

@mixin small-text {
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background: none;
}

.main {
  background-color: $main-bg;
  font-family: "Neutra Text", sans-serif;
  color: $main-color;
  display: flex;

  .contentContainer {
    width: 100%;
    height: 100vh;
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $main-bg;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $main-bg;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: $dark-bg;
    }
  }
}
